.wrapper {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  gap: 1rem;
}

.product-details {
  height: 100%;
  width: 100%;
}

@media (min-width: 62em) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
  }
}
