.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  padding: 0.5rem;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  user-select: none;
  width: 100%;
}

@media (min-width: 62em) {
  .wrapper {
    width: auto;
  }
}
