:root {
  --primary-color: #191919;
  --secondary-color: #adadad;
  --terciary-color: #fff;
  --primary-background-color: white;
  --secondary-background-color: #191919;
  --price-color: #ff6000;
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  background-color: var(--primary-background-color);
}

main {
  margin: 0 2rem;
}

@media (min-width: 82em) {
  main {
    margin: 0 20rem;
  }
}
